<form [formGroup]="searchAPI" (ngSubmit)="onSearchAPI()">
  <label for="searchTerm">Search for </label>
  <input
  type="text"
  name="searchTerm"
  formControlName="searchTerm"
  required>
  <label for="searchArea"> within </label>
  <select
  name="searchArea"
  formControlName="searchArea"
  required>
<option *ngFor = "let sa of searchArea" value="{{sa}}">{{sa}}</option>
</select>
<button type="submit">Search</button>
</form>

{{ swapiData | json }}

<app-display-star-wars
data = "kevin"
></app-display-star-wars>